<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/auth_style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="signup-page">
      <h1>Sign Up</h1>

      <form action="sign-up/post" method="POST">
        <label for="userName">User Name</label>
        <input type="text" id="userName" name="userName" />

        <label for="email">Email</label>
        <input type="email" id="email" name="email" />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" />

        <button>Sign-up</button>
      </form>

      <p class="para-2">
        Already have an account? <a href="log-in">Login here</a>
      </p>
    </div>
  </body>
</html>
